#nav {
    float: right;
}

#myChart {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;
}
table {
    margin-left: 800px;
}
th {
    padding: 29px;
}