#nav {
    float: right;
}

#myChart {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;
}
table {

}
th {
    padding: 29px;
    text-align: center;
}
td {
    padding: 29px;
    text-align: center;
}
.center-table
{
    margin: 0 auto !important;
    float: none !important;
}
.logo {
    font-size: 200px;
    color: #3CD0E9;
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}
<<<<<<< HEAD
@import "compass/css3";

// More practical CSS...
// using mobile first method (IE8,7 requires respond.js polyfill https://github.com/scottjehl/Respond)

$breakpoint-alpha: 480px; // adjust to your needs

                             .rwd-table {
                                 margin: 1em 0;
                                 min-width: 300px; // adjust to your needs

                                                      tr {
                                                          border-top: 1px solid #ddd;
                                                          border-bottom: 1px solid #ddd;
                                                      }

th {
    display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!
}

td {
    display: block;

&:first-child {
     padding-top: .5em;
 }
&:last-child {
     padding-bottom: .5em;
 }

&:before {
     content: attr(data-th)": "; // who knew you could do this? The internet, that's who.
 font-weight: bold;

 // optional stuff to make it look nicer
 width: 6.5em; // magic number :( adjust according to your own content
 display: inline-block;
// end options

@media (min-width: $breakpoint-alpha) {
    display: none;
}
}
}

th, td {
    text-align: left;

@media (min-width: $breakpoint-alpha) {
    display: table-cell;
    padding: .25em .5em;

&:first-child {
     padding-left: 0;
 }

&:last-child {
     padding-right: 0;
 }
}


body {
    padding: 0 2em;
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #444;
    background: #eee;
}

h1 {
    font-weight: normal;
    letter-spacing: -1px;
    color: #34495E;
}
=======

>>>>>>> 94d14a962c8805ed5a22121e0e93d3cf5f7f820a
