#nav {
    float: right;
}

#myChart {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;
}
table {

}
th {
    padding: 29px;
    text-align: center;
}
td {
    padding: 29px;
    text-align: center;
}
.center-table
{
    margin: 0 auto !important;
    float: none !important;
}
.logo {
    font-size: 200px;
    color: #3CD0E9;
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

