#msform {
    position: absolute;
    left: 0;
    right: 0;
}

#fs-subtitle {

    font-size: 50px;
}

#msfieldset {
    padding-left: 100px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color:  #0c0c0c;
    border-color: transparent;
}

input{
    border: 0;
    height: 40px;
    width: 60%;
    padding-left: 8%;
}
